@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Delius', cursive;
}

:root {
    font-size: 16px;
}

input {
    width: 100%;
    background-color: #f1f0f0a8;
    color: black;
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
}

input::placeholder {
    color: #313131
}

button {
    width: 100%;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

h1 {
    font-size: 1.5rem;
}

#game {
    height: 100vh;
    width: 100vw;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 90%;
    height: 90%;
    border: 3px black solid;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
}

/* Welcome Screen Begin */

#screen-welcome {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

#screen-welcome #header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

#screen-welcome #rules-modal{
  position: relative;
  display: none;
  background-color: deeppink;
  font-size: 0.6rem; 
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  height: 50%;
}
#screen-welcome #rules-modal.open{
  display: block;
  position: absolute;
}

#screen-welcome #rules-modal span{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1rem;
  cursor: pointer;
}

#screen-welcome button#rules-button {
    border-radius: 10px;
    background-color: rgb(184, 145, 219);
}

#screen-welcome button {
    width: fit-content;
}


#screen-welcome input {
    text-align: center;
}

.level-button {
    background-color: plum;
}

.level-button.active {
    border: 1px black solid;
    border-radius: 20px;
}

/* Welcome Screen End */